<div class="upload-tables">
  <div class="table-row title">
    <div class="table-column">
      FileName
    </div>
    <div class="table-column">
      FileSize
    </div>
    <div class="table-column">
      DateTime
    </div>
  </div>

  <div class="table-row" *ngFor="let item of tableItems">
    <div class="table-column">
      {{item.fileName}}
    </div>
    <div class="table-column">
      {{item.fileSize}}
    </div>
    <div class="table-column">
      {{item.dateTime}}
    </div>
  </div>

</div>
