<!-- File Upload Settings -->
<div class="fileupload-setting">
  <app-upload-settings (fileTypeEvent)="fileTypeAdded($event)" (fileSizeEvent)="fileSizeAdded($event)"></app-upload-settings>
</div>

<!-- File Upload Send Request -->
<div class="upload-type" *ngIf="selectedFileType && maxFileSize">
  <input class="form-control" type="file" (change)="onChange($event)" multiple>
  <button (click)="handleUpload()" class="btn btn-success">
    Upload
  </button>
</div>

<!--Error Messages -->
<div class="row ml-4" *ngIf="errorMessages">
  <span *ngFor="let errorMessage of errorMessages">
    <div class="alert alert-danger" role="alert">
      {{errorMessage}}
    </div>
  </span>
</div>

<!-- File Upload Loading -->
<div class="loading" *ngIf="loading">
  <app-loading></app-loading>
</div>

<!-- File Upload Table -->
<div class="upload-table">
  <div class="table-item">
    <h4>Successfull uploaded files:</h4>
    <app-view-area [tableItems]="tableItems"></app-view-area>
  </div>
</div>
